


body{
  background-image: url('./images/eclipseback.gif');
  background-size: cover;
  background-repeat:repeat;
  background-blend-mode: soft-light;
  font-family: (--font-family);
}
                            
 

.App{
    max-width: 860px;
    margin: 40px auto;
  }

  h1 { color: #e1d9d9; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;text-shadow: #000000;  -webkit-text-stroke: 2px #171717;}
  
  h2{ color: #e1d9d9; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; text-shadow: #000000; -webkit-text-stroke: 2px #171717;}

  button {
    background: none;
    border: 2px solid #eee3e3;
    padding: 6px 12px;
    border-radius: 4px;
    color: #e9dfdf;
    font-weight: bold;
    cursor: pointer;
    font-size: 4em;
    text-align: center;
  }

  button:hover {
    background: #e41111;
    color: #fff;
    text-emphasis-color:  #fff;
  }

  .card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap : 40px;
  }

  .berserkimg {
  padding: 6px 12px;
  border-radius: 4px;
  right: 50px;
}